.knock-modal{
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;

    background-color: #fff;
    border: none;
    z-index: 15000
}

.knock-modal-backdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15000
}

.knock-modal-backdrop.hide{
    display: none;
}

.knock-modal-backdrop.show{
    display: block;
}

.knock-modal.skinny{
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (min-width: 425px){
    .knock-modal.skinny {
        width: 400px;
    }
}

@media screen and (max-width: 425px){
    .knock-modal.skinny{
        transform: none;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

@media screen and (min-height: 800px) {
    .knock-modal {
        bottom: auto;
        height: 780px;
    }
}

.knock-modal > .close-button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;

    background-color: transparent;
    color: #ccc;

    position: absolute;
    top: 5px;
    right: 5px;
}

.knock-modal > .close-button:hover{
    color: #aaa;
}

.knock-modal > .knock-frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}